@use "../mixins" as *;
@use "../presets" as *;

.controls {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
}

.fa-angle-left,
.fa-angle-right {
  transition: opacity 1s ease-out;

  opacity: 0.2;
  color: $color-primary;
  text-shadow: 0 0 15px #ffffff;
}

.fa-play-circle,
.fa-pause-circle {
  color: $color-primary;
}

.control-next,
.control-prev,
.control-pause {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-prev {
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.control-pause {
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;

  height: 0;
  padding: 0;

  transition: opacity 1s ease-out;

  opacity: 0;
}
.control-pause:hover,
.control-pause:focus {
  transition: opacity 1s ease-in 0.01s;

  opacity: 1;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}
.control-pause span {
  position: absolute;

  display: block;

  transform: translate(50%, 50%);

  opacity: 0;
}
.control-prev {
  left: 0;

  width: 30%;
}
.fa-angle-left:hover,
.fa-angle-left:focus {
  transition: opacity 1s ease-in 0.01s;

  opacity: 1;
  color: orange;
  text-shadow: 0 0 15px #000000;
}
.control-next {
  right: 0;

  width: 10%;
}
.fa-angle-right:hover,
.fa-angle-right:focus {
  transition: opacity 1s ease-in 0.01s;

  opacity: 1;
  color: orange;
  text-shadow: 0 0 15px #000000;
}

.fa-play-circle,
.fa-pause-circle {
  @include ul-min {
    font-size: 30vh;
  }
  @include ul-xl {
    font-size: 20vh;
  }
  @include xl-sm {
    font-size: 15vh;
  }
  @include sm {
    font-size: 10vh;
  }
}

.fa-angle-left,
.fa-angle-right {
  @include ul-min {
    font-size: 10vh;
  }
  @include ul-xl {
    font-size: 7vh;
  }
  @include xl-sm {
    font-size: 5vh;
  }
  @include sm {
    font-size: 4vh;
  }
}
