@use "../mixins" as *;
@use "../presets" as *;

.container {
  position: absolute;
  right: 0;

  min-width: 70%;
  min-height: 100vh;
  min-height: 100%;

  background-position: center;
  background-size: cover;

  @include md-sm {
    min-width: 100%;
  }
  @include sm {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
}

.slides {
  position: relative;

  height: 100vh;

  list-style-type: none;
}

.slide {
  position: absolute;
  z-index: -5;

  width: 100%;
  height: 100%;

  transition: opacity 1s;

  opacity: 0;
  background-position: 50% 50%;
  background-size: cover;
}
.slide a {
  position: absolute;
}
.slide.active {
  opacity: 1;
}

.slide_text {
  position: absolute;
  top: 0;

  color: orange;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.49);

  font-family: $font-main;

  @include ul-min {
    top: 35%;
    left: -35%;

    width: 300px;

    font-size: 4rem;
  }
  @include ul-xl {
    top: 28%;
    left: -50%;

    width: 300px;

    font-size: 3rem;
  }
  @include xl-md {
    top: 28%;
    left: -40%;

    width: 200px;

    font-size: 3rem;
  }
  @include md-sm {
    top: 28%;
    left: 20%;

    font-size: 3rem;
  }
  @include sm {
    top: 28%;
    left: 20%;

    font-size: 3rem;
  }
}
