@use "../mixins" as *;
@use "../presets" as *;

h1 {
  letter-spacing: 0.08em;

  line-height: 1.2em;
}

h2 {
  line-height: 1.2em;
}

h3 {
  letter-spacing: 0.05em;

  color: $color-primary;

  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

p {
  position: relative;

  color: $color-light;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

input:focus {
  outline: none;
}

image {
  z-index: -5;
}
